<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
  </head>
  <body>
    <form method="post">
      <fieldset>
        <legend>Admin -> Add New Employee</legend>
        <table>
          <tr>
            <td><label for="">Employee Full Name:</label></td>
            <td><input type="text" name="name" /></td>
          </tr>
          <tr>
            <td><label for="">Employee Contact:</label></td>
            <td><input type="text" name="contact" /></td>
          </tr>
          <tr>
            <td><label for="">Employee User Name:</label></td>
            <td><input type="text" name="username" /></td>
          </tr>
          <tr>
            <td><label for="">Employee Password:</label></td>
            <td><input type="text" name="password" /></td>
          </tr>
          <tr>
            <td colspan="2">
              <input type="submit" name="submit" value="Submit" />
            </td>
          </tr>
        </table>
      </fieldset>
    </form>
  </body>
</html>
